@font-face {
    font-family: "Helvetica Neue";
    src: url(“./fonts/HelveticaNeue.ttc”) format(“truetype”)
}

:root {
    --button: #6B40E3;
    --buttonHover: #7949FF;
    --buttonActive: #512FAF;
    --offBlack: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/landing-background.png");
}

/* COMMON STYLING */
button {
    cursor: pointer;
    border: none;
    height: 48px;
    width: 261px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    background-color: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
}

.nav--button {
    width: 151px;
    color: white;
}

button:hover {
    background-color: var(--buttonHover);
}

button:active {
    background-color: var(--buttonActive);
}

input {
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    padding-left: 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.6);
}

input:focus, textarea:focus {
    outline: none;
    color: #000000;
    border: 2px solid #BCBCBC;
}

input.valid, textarea.valid {
    border: 1px solid #98E37E;
}

input.invalid, textarea.invalid {
    border: 1px solid #EF5050;
}

textarea {
    width: 798px; 
    height: 103px; 
    resize: none;
    border: 1px solid #BCBCBC;
    padding-top: 13px;
    padding-left: 16px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;

}

/* LANDING PAGE */

.landing--header {
    width: 1780px;
    border-bottom: 1px solid #1A1A1A;
    margin-top: 25px;
    margin-left: 70px;
    padding-bottom: 26px;
}

.landing--button {
    background: var(--offBlack);
    border-radius: 8px;
    width: 464px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto;
}

.landing--button:hover, .landing--button:active {
    background: var(--offBlack);
}

.landing--logo--secondary {
    position: absolute;
    right: 545px;
    top: 473px;
    z-index: -1;
}

.landing--main {
    display: grid;
    place-items: center;
    margin-top: 472px;
}

/* SURVEY */

.survey {
    width: 798px;
    margin-left: 149px; 
}

.nav__button--secondary {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: absolute;
    left: 48px;
    top: 45px;
}

.survey__body {
    background-color: #F9F9F9;
    background-image: none;
    display: flex;
    justify-content: space-between;
}

.survey__header {
    margin-top: 47px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--offBlack);

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 77px;
}

.survey__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px; 
}

.nav__span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--offBlack);
}

.input-groups__names {
    display: flex;
    justify-content: space-between;
}

.input--groups__file {
    display: flex;
    align-items: center;
    margin: 54px 0;
}

.input--group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

label[for="file-upload"] {
    width: 107px; 
    height: 27px; 
    background: #0E80BF;
    border-radius: 4px; 
    display: grid;
    place-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 19px;
}

.input-group__input {
    width: 798px;
}

input[name="name"], input[name="surname"] {
    width: 371px;
}

.input-group__span {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;    
    color: #2E2E2E; 
    /* margin-top: 8px; */
}

.survey--nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 160px;
}

.email {
    margin-top: 33px;
    margin-bottom: 29px;
}

/* RESUME */
.resume {
    height: 100vh;
    width: 822px;
    position: relative;
    background-color: white;
}

.logo--small {
    position: absolute;
    bottom: 44px;
    left: 78px;
}