@font-face {
    font-family: "Helvetica Neue";
    src: url(“./fonts/HelveticaNeue.ttc”) format(“truetype”)
}

:root {
    --button: #6B40E3;
    --buttonHover: #7949FF;
    --buttonActive: #512FAF;
    --offBlack: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/landing-background.png");
}

/* COMMON STYLING */
button {
    cursor: pointer;
    border: none;
    height: 48px;
    width: 261px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    background-color: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: white;
}

.nav--button {
    width: 151px;
}

button:hover {
    background-color: var(--buttonHover);
}

button:active {
    background-color: var(--buttonActive);
}

input {
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    padding-left: 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input:focus, textarea:focus {
    outline: none;
    color: #000000;
    border: 2px solid #BCBCBC;
}

input.valid, textarea.valid, select.valid {
    border: 1px solid #98E37E;
    color: #000000;
}

input.invalid, textarea.invalid {
    border: 1px solid #EF5050;
}

textarea {
    width: 798px; 
    height: 103px; 
    resize: none;
    border: 1px solid #BCBCBC;
    padding-top: 13px;
    padding-left: 16px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
}

/* overwriting -internal-autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* LANDING PAGE */

.landing--header {
    width: 1780px;
    border-bottom: 1px solid #1A1A1A;
    margin-top: 25px;
    margin-left: 70px;
    padding-bottom: 26px;
}

.landing--button {
    background: var(--offBlack);
    border-radius: 8px;
    width: 464px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    /* color: #FFFFFF; */
    margin: 0 auto;
}

.landing--button:hover, .landing--button:active {
    background: var(--offBlack);
}

.landing--logo--secondary {
    position: absolute;
    right: 545px;
    top: 473px;
    z-index: -1;
}

.landing--main {
    display: grid;
    place-items: center;
    margin-top: 472px;
}


/* SURVEY */
.survey {
    width: 798px;
    margin-left: 149px; 
}

.nav__button--secondary {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#FFFFFF;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: absolute;
    left: 48px;
    top: 45px;
}

.survey__body {
    background-color:#F9F9F9;
    background-image: none;
    display: flex;
    justify-content: space-between;
}

.survey__header {
    margin-top: 47px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--offBlack);

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 77px;
}

.survey__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px; 
}

.nav__span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--offBlack);
}

.input-groups__names, .input-groups__selects {
    display: flex;
    justify-content: space-between;
}

.input--groups__file {
    display: flex;
    align-items: center;
    margin: 54px 0;
}

.input--group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

label[for="image"] {
    width: 107px; 
    height: 27px; 
    background: #0E80BF;
    border-radius: 4px; 
    display: grid;
    place-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 19px;
}

.input-group__input {
    width: 798px;
}

input[name="name"], input[name="surname"], input[type="date"] {
    width: 371px;
}

.input-group__span {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;    
    color: #2E2E2E; 
    /* margin-top: 8px; */
}

.survey--nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 160px;
}

.email {
    margin-top: 33px;
    margin-bottom: 29px;
}

#description {
    height: 123px;
}

/* RESUME */
.logo--small {
    position: absolute;
    bottom: 44px;
    right: 702px;
}

.resume {
    width: 678px;
}

.resume {
    /* height: 100vh; */
    box-sizing: content-box;
    display: flex;
    width: 822px;
    position: relative;
    background-color: white;
    padding-left: 80px;
    padding-top: 68px;
}

.first--col {
    width: 432px;
}

.resume--contact div {
    display: flex;
    align-items: center;
    gap: 11.67px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
}

.resume--contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.resume--fullname {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
    margin-bottom: 17px;
}

.resume--about--header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F93B1D;
    margin-top: 34px;
    margin-bottom: 15px;
}

.resume--about--info, .resume--description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;   
}

.resume--image {
    width: 246px;
    height: 246px;
    border-radius: 50%;
}

.resume--experience--col, .resume--education--col {
    margin-bottom: 40px;
}

/* EXPERIENCES */

.employer {
    margin: 31px 0;
}

.experience--info {
    margin-top: 33px;
}

hr {
    border: 1px solid #C1C1C1;
    width: 798px;
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 54px;
}

#add--experience, #add--education {
    width: 289px;
    background-color: #62A1EB;
}

.resume--position {
    font-size: 16px;
    line-height: 20px;
    color: var(--offBlack);
}

.resume--photo {
    width: 246px;
}

.resume div.first-div {
    width: 432px;
}

.resume--dates {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
    margin-top: 7px;
    margin-bottom: 16px;
}

/* EDUCATION */

select {
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.input-groups__selects {
    margin-top: 31px;
    margin-bottom: 34px;
}

#description_edu {
    height: 179px;
}

.position--div {
    position: relative;
}
.validation--icons {
    position: absolute;
    right: 14.75px;
    top: 15.75px;
}
.validation--icons.outside {
    right: -35px;
    top: 5px;
}
.fa-triangle-exclamation {
    color: #F02424;
    display: none;
}

.fa-check-circle {
    color: #98E37E;
    display: none;
}

/* COMPLETED RESUME */

.completed--resume {
    width: 822px;
    height: auto;
    margin: 0 auto;
    margin-top: 54px;
    border: 0.8px solid #000000;
    background-color: white;
    position: relative;
}

.completed--resume .resume {
    padding: 0;
    width: 622px;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 305px;
}

.completed--resume hr {
    width: 662px;
    border: 1px solid #C8C8C8;
}

.pop-up {
    position: absolute;
    width: 427px;
    height: 167px;
    top: 53px;
    right: 70px;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 28px 0px #00000040;
    display: grid;
    place-items: center;
    border-radius: 8px;
}

.pop-up div {
    width: 364px;
}

#close-popup {
    position: absolute;
    top: 17.44px;
    right: 11.44px;
    cursor: pointer;
}
/*  */
